@charset "UTF-8";
/*
    $breakpoint argument choices:
        - phone
        - tab-port
        - tab-land
        - big-desktop

        1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 76%;
  }
}

body {
  box-sizing: border-box;
  background-color: #ddd;
}

:root {
  --primary-font-family: "Bebas Neue", cursive;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.fade-in--slow {
  transition: opacity 1s ease-in;
}
.fade-in--md {
  transition: opacity 0.6s ease-in;
}

.slide {
  opacity: 0;
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}
.slide-left {
  transform: translateX(-10rem);
}
.slide-right {
  transform: translateX(10rem);
}
.slide-up {
  transform: translateY(-10rem);
}
.slide-down {
  transform: translateY(10rem);
}
.slide--slow {
  transition: opacity 0.4s ease-in, transform 0.6s ease-in;
}

.slide-headings {
  opacity: 0;
}
.slide-headings--5 h3:nth-child(1) {
  transition: opacity 0.4s, transform 0.4s ease-in;
}
.slide-headings--5 h3:nth-child(2) {
  transition: opacity 0.4s, transform 0.8s ease-in;
}
.slide-headings--5 h3:nth-child(3) {
  transition: opacity 0.4s, transform 1.2s ease-in;
}
.slide-headings--5 h3:nth-child(4) {
  transition: opacity 0.4s, transform 1.6s ease-in;
}
.slide-headings--5 h3:nth-child(5) {
  transition: opacity 0.4s, transform 2s ease-in;
}

.appear {
  opacity: 1;
  transform: translateX(0);
}

body {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.heading-primary {
  color: #ee6352;
  font-size: 9rem;
  text-transform: uppercase;
  font-family: var(--primary-font-family);
  line-height: 1;
}

.heading-secondary {
  text-transform: uppercase;
  color: #ee6352;
  font-family: var(--primary-font-family);
  font-size: 6rem;
  line-height: 1;
}

.heading-huge {
  text-transform: uppercase;
  color: #ee6352;
  font-family: var(--primary-font-family);
  font-size: 20rem;
  line-height: 1;
}
@media (max-width: 56.25em) {
  .heading-huge {
    font-size: 12rem;
  }
}

.heading-3 {
  text-transform: uppercase;
  color: #ee6352;
  font-family: var(--primary-font-family);
  font-size: 4rem;
  line-height: 1;
}
.heading-3--black {
  color: black;
}

.paragraph {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
}

b {
  color: #ee6352;
}

.mb-lg {
  margin-bottom: 10rem;
}

.mb-md {
  margin-bottom: 5rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mt-lg {
  margin-top: 10rem;
}

.mt-md {
  margin-top: 5rem;
}

.mt-sm {
  margin-top: 2rem;
}

.fullwidth {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.margin-center-item {
  display: block;
  margin: 0 auto;
}

.header {
  display: grid;
  place-items: center;
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  text-align: center;
  padding: 4rem 10vw 12rem 10vw;
  height: 90vh;
}
@media (max-width: 56.25em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

.property-description__card-content {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
}
.property-description__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}
@media (max-width: 56.25em) {
  .property-description__grid {
    grid-template-columns: none;
  }
}

.grid-areas__card-container {
  display: grid;
  place-items: center;
}
.grid-areas__areas-layout {
  display: grid;
  place-items: center;
}
@media (max-width: 56.25em) {
  .grid-areas__areas-layout {
    text-align: center;
  }
}
@media (max-width: 56.25em) {
  .grid-areas__areas-layout--desktop {
    display: none;
  }
}
.grid-areas__areas-layout--mobile {
  display: none;
}
@media (max-width: 56.25em) {
  .grid-areas__areas-layout--mobile {
    display: block;
  }
}

.why-sass__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
}
@media (max-width: 56.25em) {
  .why-sass__container {
    grid-template-columns: none;
  }
}
.why-sass__img {
  justify-self: start;
  grid-column: 1/span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  background-color: #adb5bd;
}
@media (max-width: 56.25em) {
  .why-sass__img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
  }
}
.why-sass__photo {
  width: 100%;
}
.why-sass__info {
  grid-column: 3/-1;
  padding: 4rem;
}
.why-sass__features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  align-items: center;
}
@media (max-width: 56.25em) {
  .why-sass__features {
    grid-template-columns: none;
  }
}
.why-sass__feature {
  cursor: pointer;
}
.why-sass__feature--active {
  color: #e63946;
  transform: scale(1.2);
}
.why-sass__btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.why-sass__demo-variables__container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
}
@media (max-width: 56.25em) {
  .why-sass__demo-variables__container {
    grid-template-columns: none;
  }
}
.why-sass__demo-variables-heading {
  font-family: "Bebas Neue", cursive;
  font-size: 42px;
  letter-spacing: 2px;
}
.why-sass__demo-variables-heading--1 {
  color: #cdb4db;
}
.why-sass__demo-variables-heading--2 {
  color: #3c6e71;
}
.why-sass__demo-variables-heading--3 {
  color: #ff758f;
}
.why-sass__demo-variables-heading--4 {
  color: #284b63;
}
.why-sass__demo-variables-heading--5 {
  color: #00bbf9;
}
.why-sass__demo-variables-heading--6 {
  color: #0081a7;
}
.why-sass__demo-functions__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  font-size: 52px;
  padding: 2rem 10rem;
  font-family: "Bebas Neue", cursive;
}
@media (max-width: 56.25em) {
  .why-sass__demo-functions__container {
    grid-template-columns: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.why-sass__demo-functions-item--1 {
  animation: fadein 1s infinite;
}
.why-sass__demo-functions-item--2 {
  animation: fadein 3s infinite;
}
.why-sass__demo-functions-item--3 {
  animation: fadein 5s infinite;
}
.why-sass__demo-mixins__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  padding: 2rem 4rem;
}
@media (max-width: 56.25em) {
  .why-sass__demo-mixins__container {
    grid-template-columns: none;
  }
}
.why-sass__demo-mixins__btn {
  padding: 1rem 4rem;
  font-size: 2.4rem;
  font-family: "Bebas Neue", cursive;
  border: none;
  transition: all 0.2s ease-in;
}
.why-sass__demo-mixins__btn--1 {
  border-radius: 50px;
  background-color: #9ae5e6;
}
.why-sass__demo-mixins__btn--1:hover {
  transform: scale(1.1);
}
.why-sass__demo-mixins__btn--1:active {
  transform: scale(1);
}
.why-sass__demo-mixins__btn--2 {
  background-color: #29524a;
  color: white;
}
.why-sass__demo-mixins__btn--2:hover {
  background-color: #bad4aa;
  color: #29524a;
}
.why-sass__demo-mixins__btn--2:active {
  background-color: #103900;
}
.why-sass__demo-mixins__btn--3 {
  background-color: #685f74;
  color: #f3e0ec;
  border-radius: 3px;
}
.why-sass__demo-mixins__btn--3:hover {
  transform: translateY(-0.4rem);
}
.why-sass__demo-mixins__btn--3:active {
  transform: translateY(-0.2rem);
}
.why-sass__demo-nesting {
  display: grid;
  place-items: center;
}
.why-sass__demo-nesting__container {
  padding: 4rem;
  display: grid;
  place-items: center;
}
@media (max-width: 56.25em) {
  .why-sass__demo-nesting__container {
    padding: 0;
  }
}
.why-sass__demo-nesting__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "icon icon" "icon icon" "title title" "text text";
  background-color: #343a40;
  color: #e9ecef;
  width: 50%;
  padding: 4rem;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 56.25em) {
  .why-sass__demo-nesting__card {
    width: 100%;
  }
}
.why-sass__demo-nesting__card__icon-box {
  grid-area: icon;
}
.why-sass__demo-nesting__card__icon-box--container {
  border: 12px solid #e9ecef;
  border-radius: 20px;
  transform: rotate(0.9turn);
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem;
}
.why-sass__demo-nesting__card__icon-box svg {
  width: 8rem;
  transform: rotate(-0.9turn);
}
.why-sass__demo-nesting__card__title {
  grid-area: title;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.4rem;
}
.why-sass__demo-nesting__card__text {
  grid-area: text;
  font-size: 1.2rem;
}

.btn {
  border: none;
  padding: 1rem 4rem;
  font-size: 2.4rem;
  background-color: #fff;
  font-family: var(--primary-font-family);
  color: #ee6352;
  letter-spacing: 1px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}
.btn--reverse {
  background-color: #ee6352;
  color: #fff;
}
.btn--primary::after {
  content: "";
  border-radius: 3px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-in;
}
.btn--primary:hover::after {
  transform: scale(1);
  transform-origin: top left;
}
.btn--primary:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn--primary:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--secondary {
  border-radius: 50px;
}
.btn--secondary:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn--secondary:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--secondary:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--secondary::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: inherit;
}
.btn--md {
  padding: 1rem 10rem;
}

.button-box {
  display: grid;
  place-items: center;
}

.grid {
  background-color: #fff;
  padding: 8rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  height: 80rem;
}
@media (max-width: 75em) {
  .grid {
    display: none;
  }
}
.grid-item {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 700;
  background-color: #ee6352;
  padding: 6rem;
}
.grid-item-1:hover {
  justify-self: center;
}
.grid-item-1:hover:after {
  content: "Justify Center";
}
.grid-item-1:hover span {
  display: none;
}
.grid-item-2:hover {
  justify-self: start;
}
.grid-item-2:hover:after {
  content: "Justify Start";
}
.grid-item-2:hover span {
  display: none;
}
.grid-item-3:hover {
  justify-self: end;
}
.grid-item-3:hover:after {
  content: "Justify End";
}
.grid-item-3:hover span {
  display: none;
}
.grid-item-4:hover {
  align-self: center;
}
.grid-item-4:hover:after {
  content: "Alignment Center";
}
.grid-item-4:hover span {
  display: none;
}
.grid-item-5:hover {
  align-self: start;
}
.grid-item-5:hover:after {
  content: "Alignment Start";
}
.grid-item-5:hover span {
  display: none;
}
.grid-item-6:hover {
  align-self: end;
}
.grid-item-6:hover:after {
  content: "Alignment End";
}
.grid-item-6:hover span {
  display: none;
}

.card {
  background-color: #fff;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  padding: 4rem;
}
.card--double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 56.25em) {
  .card--double {
    grid-template-columns: none;
  }
}
.card--simple {
  background-color: #fff;
}

.info-card__title {
  font-size: 2.4rem;
  color: #ee6352;
  position: relative;
  line-height: 1;
}
.info-card__title::before {
  content: "• ";
}
.info-card__text {
  margin-left: 2rem;
  line-height: 1;
}

.grid-card {
  display: grid;
  grid-template-rows: auto 2fr 1fr;
  place-items: center;
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 5px;
}
.grid-card__container {
  height: 100%;
  width: 100%;
}
.grid-card__title {
  font-size: 3rem;
  color: #ee6352;
  text-transform: uppercase;
}
.grid-card__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.grid-card__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: #fff;
  height: 100%;
}
.grid-card__grid-item {
  font-size: 2.4rem;
  color: #fff;
  background-color: #ee6352;
  padding: 2rem;
}
.grid-card__grid--align-items-center {
  align-items: center;
}
.grid-card__grid--align-items-start {
  align-items: start;
}
.grid-card__grid--align-items-end {
  align-items: end;
}
.grid-card__grid--align-items-stretch {
  align-items: stretch;
}
.grid-card__grid--justify-items-center {
  justify-items: center;
}
.grid-card__grid--justify-items-start {
  justify-items: start;
}
.grid-card__grid--justify-items-end {
  justify-items: end;
}
.grid-card__grid--justify-items-stretch {
  justify-items: stretch;
}

.travel-card {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  grid-template-areas: "photo photo photo title title" "photo photo photo stats stats" "photo photo photo text text" "photo photo photo info info";
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
}
.travel-card:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
}
@media (max-width: 75em) {
  .travel-card {
    width: 65%;
    text-align: center;
  }
}
@media (max-width: 56.25em) {
  .travel-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "photo photo" "title title" "stats stats" "text text" "info info";
    width: 100%;
    text-align: center;
  }
}
.travel-card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.travel-card__photo-frame {
  grid-area: photo;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}
.travel-card__tag {
  position: absolute;
  background-image: linear-gradient(to right, #ee6352, #e63946);
  transition: transform 0.2s ease-in;
  cursor: pointer;
  font-size: 1.8rem;
  font-family: var(--primary-font-family);
  color: #fff;
  padding: 0.5rem 4rem;
  border-bottom-right-radius: 5px;
}
@media (max-width: 56.25em) {
  .travel-card__tag {
    width: 100%;
    padding: 0.5rem 0;
  }
}
.travel-card__tag:hover {
  transform: scale(1.1);
}
.travel-card__button {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-image: linear-gradient(to right, #ee6352, #e63946);
  border-radius: 50%;
  border: none;
  padding: 1rem;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .travel-card__button {
    left: auto;
    right: 1rem;
  }
}
.travel-card__button img {
  width: 4rem;
}
.travel-card__button:hover {
  transform: scale(1.1);
}
.travel-card__button:active {
  transform: scale(1.05);
}
.travel-card__title {
  grid-area: title;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: var(--primary-font-family);
  font-size: 3.6rem;
  background-image: linear-gradient(to right, #ee6352, #e63946);
}
.travel-card__stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  font-size: 2.4rem;
  gap: 4rem;
}
.travel-card__stats p {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
  place-items: center;
}
.travel-card__stats img {
  width: 2rem;
}
.travel-card__text {
  grid-area: text;
  font-size: 2rem;
  line-height: 1;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.travel-card__info {
  grid-area: info;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  place-items: center;
  font-size: 2.4rem;
  font-family: var(--primary-font-family);
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  background-image: linear-gradient(to right, #ee6352, #e63946);
}

/*# sourceMappingURL=style.css.map */
