.header{
    background-color: $color-white;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    text-align: center;
    padding: 4rem 0 12rem 0;
    height: 30vh;

    @include respond(tab-port) {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    }
}